GRED.txt
[{"id":"215ccf09.8b5a5","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/mgbot_bme280_21_temp/lv","qos":"2","broker":"3c684e2c.8182ba","x":240,"y":220,"wires":[["1395bb1a.a87f65","73382627.291b78"]]},{"id":"1395bb1a.a87f65","type":"ui_text","z":"2f9c2e1d.32fd7a","group":"97f72119.2f3d8","order":0,"width":0,"height":0,"name":"","label":"Температура воздуха","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":220,"wires":[]},{"id":"73382627.291b78","type":"ui_gauge","z":"2f9c2e1d.32fd7a","name":"","group":"97f72119.2f3d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"С","format":"{{value}}","min":0,"max":"40","colors":["#487afd","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":590,"y":280,"wires":[]},{"id":"dbfbb378.352b4","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/mgbot_bme280_21_hum/lv","qos":"2","broker":"3c684e2c.8182ba","x":240,"y":160,"wires":[["971e7719.d4ef4"]]},{"id":"971e7719.d4ef4","type":"ui_chart","z":"2f9c2e1d.32fd7a","name":"","group":"539e8683.c987b8","order":0,"width":0,"height":0,"label":"Влажность воздуха","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":160,"wires":[[],[]]},{"id":"ffa29cdc.b85218","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/Relay_mgbot_mgbot_relay_1_16","qos":"","retain":"","broker":"3c684e2c.8182ba","x":1000,"y":340,"wires":[]},{"id":"d7efbc11.942fb","type":"ui_switch","z":"2f9c2e1d.32fd7a","name":"","label":"Вентилятор","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":340,"wires":[["ffa29cdc.b85218"]]},{"id":"c49952b9.0d228","type":"ui_switch","z":"2f9c2e1d.32fd7a","name":"","label":"Насос","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/devices/iotik-3342499200/Relay_mgbot_mgbot_relay_1_17","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":400,"wires":[["856c5e7b.08405"]]},{"id":"f7f868c6.2e738","type":"ui_slider","z":"2f9c2e1d.32fd7a","name":"","label":"Окно","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":"1","x":110,"y":460,"wires":[["86e47578.293be8","2fdebae7.4a61a6"]]},{"id":"86e47578.293be8","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/SERV","qos":"","retain":"","broker":"3c684e2c.8182ba","x":380,"y":460,"wires":[]},{"id":"2fdebae7.4a61a6","type":"ui_text","z":"2f9c2e1d.32fd7a","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"name":"","label":"Угол поворота (0-180)","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":520,"wires":[]},{"id":"6e4d0dfd.805034","type":"ui_slider","z":"2f9c2e1d.32fd7a","name":"","label":"Яркость","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":"10","x":120,"y":340,"wires":[["abe02208.06e368","3e41df61.6fa0c8"]]},{"id":"abe02208.06e368","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/MATRIX","qos":"","retain":"","broker":"3c684e2c.8182ba","x":380,"y":340,"wires":[]},{"id":"3e41df61.6fa0c8","type":"ui_text","z":"2f9c2e1d.32fd7a","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"name":"","label":"Значение яркости (0-100)","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":400,"wires":[]},{"id":"856c5e7b.08405","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/Relay_mgbot_mgbot_relay_2_17","qos":"","retain":"","broker":"3c684e2c.8182ba","x":1000,"y":400,"wires":[]},{"id":"98ef23bf.e3c81","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/light/lv","qos":"2","broker":"3c684e2c.8182ba","x":210,"y":100,"wires":[["c7cca25e.c9f27"]]},{"id":"c7cca25e.c9f27","type":"ui_gauge","z":"2f9c2e1d.32fd7a","name":"","group":"34a94e36.4d7ba2","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"С","format":"{{value}}","min":0,"max":"300","colors":["#808080","#c0c0c0","#ffffff"],"seg1":"100","seg2":"200","x":590,"y":100,"wires":[]},{"id":"503e6584.16401c","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/mgbot_bme280_21_press/lv","qos":"2","broker":"3c684e2c.8182ba","x":280,"y":40,"wires":[["b9092b1f.d95a6"]]},{"id":"b9092b1f.d95a6","type":"ui_gauge","z":"2f9c2e1d.32fd7a","name":"","group":"9fcc3282.58b478","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"С","format":"{{value}}","min":0,"max":"1500","colors":["#ffff00","#ff8040","#ff0000"],"seg1":"500","seg2":"1000","x":590,"y":40,"wires":[]},{"id":"26a5e1c2.dd16e6","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/soilh/lv","qos":"2","broker":"3c684e2c.8182ba","x":720,"y":520,"wires":[["ff16592c.c82f9"]]},{"id":"ff16592c.c82f9","type":"ui_gauge","z":"2f9c2e1d.32fd7a","name":"","group":"92c6e913.02f97","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"С","format":"{{value}}","min":0,"max":"100","colors":["#00ffff","#0080c0","#004080"],"seg1":"33","seg2":"66","x":1090,"y":520,"wires":[]},{"id":"f214d8b9.f8a3e8","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/soilt/lv","qos":"2","broker":"3c684e2c.8182ba","x":710,"y":600,"wires":[["887aa92d.1bd348"]]},{"id":"887aa92d.1bd348","type":"ui_gauge","z":"2f9c2e1d.32fd7a","name":"","group":"b1397d2d.c02448","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"С","format":"{{value}}","min":0,"max":"35","colors":["#ffff00","#80ff00","#ff0000"],"seg1":"25","seg2":"30","x":1090,"y":600,"wires":[]},{"id":"3379c588.00c3da","type":"ui_text","z":"2f9c2e1d.32fd7a","group":"97470cca.1be5d","order":0,"width":0,"height":0,"name":"","label":"УФа","format":"{{msg.payload}}","layout":"row-spread","x":528,"y":679,"wires":[]},{"id":"1e488d02.ea19e3","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/uva/lv","qos":"2","broker":"3c684e2c.8182ba","x":170,"y":680,"wires":[["3379c588.00c3da"]]},{"id":"9bf4a91f.e42e3","type":"ui_text","z":"2f9c2e1d.32fd7a","group":"97470cca.1be5d","order":0,"width":0,"height":0,"name":"","label":"УФб","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":680,"wires":[]},{"id":"f205e30a.6ba8f8","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/uvb/lv","qos":"2","broker":"3c684e2c.8182ba","x":812,"y":681,"wires":[["9bf4a91f.e42e3"]]},{"id":"c824be27.9397d","type":"ui_text","z":"2f9c2e1d.32fd7a","group":"97470cca.1be5d","order":0,"width":0,"height":0,"name":"","label":"УФиндекс","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":760,"wires":[]},{"id":"522dbd4d.3e597c","type":"mqtt in","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/uv_index/lv","qos":"2","broker":"3c684e2c.8182ba","x":192,"y":761,"wires":[["c824be27.9397d"]]},{"id":"96aa5c0f.844608","type":"ui_slider","z":"2f9c2e1d.32fd7a","name":"","label":"R","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":"1","x":430,"y":880,"wires":[["ae212610.4fe9d8"]]},{"id":"ae212610.4fe9d8","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/red","qos":"","retain":"","broker":"3c684e2c.8182ba","x":690,"y":880,"wires":[]},{"id":"2fa6a6b9.2a0d2a","type":"ui_slider","z":"2f9c2e1d.32fd7a","name":"","label":"G","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":"1","x":410,"y":940,"wires":[["99896c9b.953de"]]},{"id":"99896c9b.953de","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/green","qos":"","retain":"","broker":"3c684e2c.8182ba","x":680,"y":940,"wires":[]},{"id":"46d85d9.9da3824","type":"ui_slider","z":"2f9c2e1d.32fd7a","name":"","label":"B","group":"46c0e06c.314e8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":"1","x":410,"y":1000,"wires":[["1fb39dd7.97a80a"]]},{"id":"1fb39dd7.97a80a","type":"mqtt out","z":"2f9c2e1d.32fd7a","name":"","topic":"/devices/iotik-3342499200/blue","qos":"","retain":"","broker":"3c684e2c.8182ba","x":670,"y":1000,"wires":[]},{"id":"3c684e2c.8182ba","type":"mqtt-broker","z":"","name":"api.greenpl.ru","broker":"api.greenpl.ru","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"97f72119.2f3d8","type":"ui_group","z":"","name":"Температура воздуха","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"539e8683.c987b8","type":"ui_group","z":"","name":"Влажность","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"46c0e06c.314e8","type":"ui_group","z":"","name":"Управление","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"34a94e36.4d7ba2","type":"ui_group","z":"","name":"освещенность","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"9fcc3282.58b478","type":"ui_group","z":"","name":"давление","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"92c6e913.02f97","type":"ui_group","z":"","name":"влажность почвы","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"b1397d2d.c02448","type":"ui_group","z":"","name":"температура почвы","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"97470cca.1be5d","type":"ui_group","z":"","name":"УФ","tab":"5f27b063.887cd","disp":true,"width":"6"},{"id":"5f27b063.887cd","type":"ui_tab","z":"","name":"Домашняя страница","icon":"dashboard"}]